{% layout "layouts/base.liquid" %}

{% block content %}

<div class="movie__container">
  {% if movie.original_title %}
    {% assign mov = movie.original_title %}
  {% else %}
    {% assign mov = movie.name %}
  {% endif %}
  <div class="movie__info">
    <img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" alt="Movieposter for {{ mov }}" class="movie__info-image">
    <h1 class="h1">{{ mov }}</h1>
    <p class="movie__info-description">{{ movie.overview }}</p>
    <p>Release date: {{ movie.release_date }}</p>
    <p>Rating: {{ movie.vote_average }}</p>
  </div>

  <div class="backdrop-image__container">
    <img src="https://image.tmdb.org/t/p/w1280/{{ movie.backdrop_path }}" alt="" class="backdrop-image">
  </div>
</div>

{% comment %}<img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" alt="Movieposter for {{ mov }}">{% endcomment %}
{% endblock %}
